image: eclipse-temurin:8

variables:
  GRADLE_ARGS: --no-daemon --stacktrace --warning-mode=all
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

tests:
  stage: test
  script: ./gradlew ${GRADLE_ARGS} test
  artifacts:
    paths:
      - build/reports/tests/
    when: on_failure

tests:jdk-11:
  extends: tests
  image: eclipse-temurin:11

tests:jdk-17:
  extends: tests
  image: eclipse-temurin:17

tests:jdk-21:
  extends: tests
  image: eclipse-temurin:21

analysis:
  stage: test
  script: ./gradlew ${GRADLE_ARGS} --exclude-task test check
  artifacts:
    paths:
      - build/reports/
    when: on_failure

publish:
  stage: deploy
  script:
    - openssl aes-256-cbc -d -base64 -pbkdf2 -pass "env:ENCRYPTION_PASSWORD" -in gradle.properties.enc -out gradle.properties
    - openssl aes-256-cbc -d -base64 -pbkdf2 -pass "env:ENCRYPTION_PASSWORD" -in pubring.gpg.enc -out pubring.gpg
    - openssl aes-256-cbc -d -base64 -pbkdf2 -pass "env:ENCRYPTION_PASSWORD" -in secring.gpg.enc -out secring.gpg
    - ./gradlew ${GRADLE_ARGS} publish closeStagingRepositories
  only:
    variables:
      - $CI_COMMIT_REF_NAME == "master"
      - $CI_COMMIT_REF_NAME =~ /^release\/\d+\.\d+-stable$/
  except:
    - tags
